In [1]:
import pymongo as pm

In [2]:
conn = pm.MongoClient('localhost:27017')

In [3]:
db = conn.get_database(name='mongodb_test')

In [4]:
db['mongodb_test'].insert_one(
        {
        "id": '02',
            "name":'employeeName2',
        "age":'employeeAge2',
        "country":'employeeCountry2'
        })

In [14]:
def insert_in_database(db_name, args_dict):
    '''this function will take db name and args 
       of dictionary and insert it into specified database'''
    db[db_name].insert_one(args_dict)
    print('Data inserted successfully')

In [8]:
temp_dict = {
    'id':'01',
    'name':'Bhumit',
    'age':'20',
    'contact':'9664092779'
}

insert_in_database(db_name='mongodb_test', args_dict=temp_dict)

Data inserted successfully

In [10]:
# Read Data from mongodb_test
cols = db['mongodb_test'].find() 
for col in cols:
    print(col)

{'_id': ObjectId('5aa39c4b07d87b162036c873'), 'id': '01', 'name': 'Bhumit', 'age': '20', 'contact': '9664092779'}
{'_id': ObjectId('5aa3e7ac07d87b07a0268dad'), 'id': '02', 'name': 'employeeName2', 'age': 'employeeAge2', 'country': 'employeeCountry2'}

In [7]:
print(cols)

<pymongo.cursor.Cursor object at 0x000002451C46CB70>

In [11]:
def read_from_db(db_name):
    cols = db[db_name].find()
    return cols

In [13]:
db['mongodb_test'].delete_many({'id':'02'})

In [15]:
args_dict = {
    'id':'02',
    'name':'Kevin',
    'contact':'8645464546',
    'age':'26'
}
insert_in_database(db_name='mongodb_test', args_dict=args_dict)

Data inserted successfully

In [31]:
#Update in data base
def update_entry(db_name, idno, updation):
    db[db_name].update_one(idno, updation)
    print('Database updated successfully')

In [32]:
args_dict = [
    {'id':'02'},
    {
        '$set':{
            'name':'Kevin11',
            'contact':'9664820165'
        }
    }
]

In [33]:
update_entry('mongodb_test', idno=args_dict[0], updation=args_dict[1])

Database updated successfully

In [34]:
def delete_row(db_name, idno):
    db[db_name].delete_many(idno)
    print('Row deleted')

In [35]:
delete_row('mongodb_test', idno={'id':'01'})

Row deleted